body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #64dd17, #00bfa5); /* Gradient background */
}

.container {
    width: 30%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

.name-container {
    display: flex;
}

.name-container div {
    flex: 1;
    margin-right: 10px;
}

.name-container div:last-child {
    margin-right: 0;
}

label {
    display: block;
    font-weight: bold;
    font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

input[type="submit"],
.guest-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50; /* Green submit button */
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
}

input[type="submit"]:hover {
    background-color: #388e3c; /* Darker green on hover */
}


.guest-button {
    margin-top: 10px;
}

p {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.reg a {
    color: #64dd17; /* Green color for sign up link */
}


.error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px; /* Add some bottom margin for spacing */
}

.error-banner {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f44336;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000; /* Ensure it appears above other elements */
}
p {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

.reg a {
    color: #64dd17; /* Green color for sign up link */
}

/* Media Queries */
@media (max-width: 767px) {
    .container {
        width: 60%;
    }
}

@media (min-width: 768px) and (max-width: 940px) {
    .container {
        width: 50%;
    }
}

@media (min-width: 941px) {
    .container {
        width: 20%;
    }
}
