:root{
    --section-width-wider: calc(100vw * 1750/1900);
    --section-width-wide: calc(100vw * 1600/1900);
    --section-width-boxed: calc(100vw * 1250/1900);
    --text-width: calc(100% - 40px);
    --text-scale: 1750 / 1900;
}

*, top-page{
    margin: 0;
    padding: 0;
    height: auto;
}
body::-webkit-scrollbar {
    width: 8px;
  }
body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
body::-webkit-scrollbar-thumb {
    background: #8db255; 
    border-radius: 10px; 
  }
body::-webkit-scrollbar-thumb:hover {
    background: #6b9030; 
  }

  html{
    scroll-behavior: smooth;
  }
  html, body {
    overflow-x: hidden; 
    overflow-y: auto;   
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
}

  
  .menu-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    display: none;
    align-items: center;
    color: #000000;
    padding: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-bottom: 1.5px solid #44891c;
  }

  .menu-logo {
    line-height: 0;
    margin: 0;
}

  .menu-logo p {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        display: inline-block;
        background: #1d8c1d;
        padding: 18px;
        border-radius: 5px;
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5); 
    }

  
  .menu-container a {
    text-decoration: none;
    color: #f9f5c3;
    transition: color 0.3s ease;
  }
  
  .menu-container a:not(.menu-logo):hover {
    color: #7ed321;
    border-bottom: 2px solid #1d8c1d;
}
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #000000;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 0px;
    font-size: 15px;
  } 

#main-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    background-image: url("imgs/photo-1543353071-10c8ba85a904.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
}
#main-content .menu-container {
    display: none;
}
.intro{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px 10px 50px 10px;
    width: 50%;
    height: auto;
    text-align: center;
    right: 0;
}
.intro p{
    font-weight: bolder;
    padding: 50px;
    font-size: 1.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.intro h2{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 4px solid #44891c;
}
.intro sup{
    font-size: 10px;
    color: black;
}
.intro button{
    margin-top: 30px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    height: auto;
    padding: 18px;
    background: #44891c;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.intro button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.intro button:hover{
    opacity: 0.8;
}
#about{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url("imgs/photo-1556911220-e15b29be8c8f.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.abt-container{
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: inline-block;
    width: 100%;
    height: 100vh;

}

.aboutus{
    margin: 0 0 0 50px;
    display: flex;
    width: 40%;
    background: rgba( 255, 255, 255, 0.5 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); 
    padding: 20px; 
    text-align: start;
}
.holder{
    padding-top: 8.5%;
    display: flex;
    justify-content: left;
}
.img-holder{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    aspect-ratio: 1;
}
.aboutus img{
    width: 25%;
    height: auto;
    border-radius: 100px;   
    display: flex;
}
.aboutus h2, 
.aboutus p{
    padding-top: 20px;
    margin-left: 20px;
}
.aboutus p{
    margin-bottom: 3px;
    font-size: 16px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aboutus h2{
    margin-top: 3px;
    font-size: 23px;
    color: #1d8c1d;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact-btn a{
    padding: 20px;
    text-decoration: none;
    color: white;
    background-color: #1d8c1d;
    border: none;
    border-radius: 50px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
}
.contact-btn{
    text-decoration: none;
    border: none;
    margin: 50px auto 30px auto;
    border-radius: 50px;
    text-align: center;
}
.contact-btn a:hover{
    background-color: #44891c;
}
.img-holder {
    position: relative;
    width: 500px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
  }

  .img-holder img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
  }

  .img-holder:hover img {
    transform: scale(1.1);
  }

.footer{
    position: relative;
    height: 20vh;
    margin-top: 100px;
}

.footer #quote{
    position: absolute;
    margin:0;
    width: 100%; 
    font-size: 30px;
    font-style: italic;
    text-align: center; 
    font-weight: bold;
    justify-content: center;
    display: flex;
}
#categ {
    background-image: url("imgs/photo-1495195129352-aeb325a55b65.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    
}

.categories {
    width: 290px; 
    padding: 20px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

.cat {
    font-size: 50px;
    margin-bottom: 30px;
    color: #1d8c1d;
    padding: 10% 20px 10px 20px;
    border-bottom: 5px solid #474747;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    height: auto;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-evenly; 
}
.categories {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#1d8c1d;
    text-transform: uppercase;
    display: inline;
}

.image-container {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px;
    margin-top: 15px;
}


.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit:fill; 
}
.ctg-button {
    display: inline-block; /* Display as inline block */
    background-color: #1d8c1d;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    font-weight: bolder;
}
.ctg-button:hover{
    opacity: 0.8;
}
.ctg-button a{
    text-decoration: none;
    color: white;
}


#contacts {
    background-color: #ffffff;
    color: #fff;
    padding: 20px 0;

}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-us, .social-media, .contact-form {
    flex: 1;
}

.contact-us h3, .social-media h3, .contact-form h3 {
    margin-bottom: 10px;
    color: #44891c;
    font-size: 25px;
}

.contact-us p {
    margin: 5px 0;
    color: #000;
    font-weight: bolder;
}

.social-media ul {
    padding: 0;
    list-style: none;
    display: flex;
}

.social-media li {
    margin-right: 10px;
    color: #000;
    font-weight: bolder;
}

.social-media a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}

.social-media a:hover {
    color: #bbb;
}

.contact-form form {
    margin-top: 20px;
}

.contact-form input,
.contact-form textarea{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    font-weight: bolder;
    border: none;

}
.contact-form button
{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
    color: white;
    background-color: #44891c;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form textarea {
    resize: vertical;
    
}


.team {
    background-image: url("imgs/photo-1505935428862-770b6f24f629.avif");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; 
    padding-bottom: 50px;
}
.team h3{
    padding-top: 50px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#474747;
}

.team-members {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    margin-top: 50px;
}

.team-member {
    text-align: center; 
    max-width: 200px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    width: 100%;
}

.team-member img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    border-radius: 50%; 
}

.team-member h4 {
    margin-top: 10px;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.team-member p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.category {
    padding: 20px;
    margin-bottom: 40px;
  }

  .category h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  @media (min-width: 300px) and (max-width: 767px) {
    body{
        padding: 0;
        margin: 0;
        overflow: hidden;
    } 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
      display: none;
    }
    
    .menu-logo {
      position: absolute;
      left: 10px;
      top: 50%;
      width: 50%;
      transform: translateY(-50%);
      display: block;
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -400px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #FFF67E;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .menu-container a{
        color: black;
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
    .intro{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .intro h2{
        font-size: 35px;
        margin: auto;
    }
    .intro p{
        width: 90%;
        padding: 30px;
    }
    .img-holder{
        display: none;
    }
    #about {
        height: 100vh; 
        width: 100vw;
    }
    #categ{
        padding-top: 5vh;
        height: 150vh;
        width:auto;
    }
    .aboutus{
        width: 90%;
        margin-top: 15px;
        margin: 0;
    }
    .holder{
        padding-top: 30%;
    }
    .aboutus h2,
    .aboutus p{
        padding-top: 10px;
        margin-left: 10px;
    }
    .aboutus p{
        font-size: 15px;
    }
    .contacts{
        height: 88vh;
    }
    .missionvision p{
        font-size: 15px;
    }
    .footer{
        margin-top: 100px;
        padding: 0;
    }
    .footer #quote{
        font-size: 20px;
    }
    .team-members{
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .team-member{
        width: 150px;
    }
    .missionvision{
        flex-direction: column;
        width: 80%;
    }
    .category-container {
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center; 
            gap: 10px;
            margin: 2rem auto auto auto; 
            align-items: center;
            text-align: center;
    }

    .categories {
        width:230px;
    }
    #contacts{
        padding-top: 100px;
        text-align: center;
    }
    .contact-form{
        margin-top: 50px;
    }
    .contact-form form{
        width: 70%;
        margin:auto;
    }
    .contact-form input,button,textarea{
        padding: 10px;
        border: 1px solid black;
    }
    .contact-form button{
        padding: 10px;
        margin: auto;
        width: 105%;
    }
    .contact-form textarea{
        border: 1px solid black;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-us, .social-media, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-media ul {
        justify-content: center;
    }

    .social-media li {
        margin-right: 10px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    body {
        overflow-x: hidden; 
    }
    .menu-container {
      width: 100%;
    }
    .menu-logo {
        position:sticky;
        left: 0;
        top: 30%;
        width: 35%;
      }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
    .intro{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .intro h2{
        font-size: 35px;
        margin: auto;
    }
    .intro p{
        width: 90%;
        padding: 30px;
    }
    .missionvision{
        width: 90%;
    }
    
    .abt-container{
        height: 100vh;
    }
    .img-holder{
        display: none;
    }
    #about {
        width: 100vw;
        height: 100vh;
    }
    #categ{
        padding-top: 5%;
        height: 95.5vh;
        width: 100vw;
    }
    .aboutus{
        width: 90%;
        margin-top: 15px;
        margin: auto;
    }
    .holder{
        padding-top: 20%;
    }
    .aboutus h2,
    .aboutus p{
        padding-top: 10px;
        margin-left: 10px;
    }
    .aboutus p{
        font-size: 15px;
    }
    .missionvision p{
        font-size: 15px;
    }
    .footer{
        margin-top: 100px;
        padding: 0;
    }
    .footer #quote{
        font-size: 20px;
    }
    
    .team-member{
        max-width: 150px;
    }
    .category-container {
        display: grid;
        grid-template-columns: repeat(3, minmax(180px, 1fr));
        gap: 10px;
        padding-top: 10px;
        justify-content: center; 
    }

    .categories {
        width:100% ; 
    }
    #contacts{
        padding-top: 100px;
        text-align: center;
    }
    .contact-form{
        margin-top: 50px;
    }
    .contact-form form{
        width: 60%;
        margin:auto;
    }
    .contact-form input,button,textarea{
        padding: 10px;
        border: 1px solid black;
    }
    .contact-form button{
        padding: 10px;
        margin: auto;
        width: 105%;
    }
    .contact-form textarea{
        border: 1px solid black;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-us, .social-media, .contact-form {
        width: 100%;
        margin-bottom: 20px;

    }

    .social-media ul {
        justify-content: center;
    }

    .social-media li {
        margin-right: 10px;
    }

  }
  @media only screen and (min-width: 1024px) {
    body {
        overflow-x: hidden; 
    }
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
    .categories {
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 10px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .menu-logo{
        width: 30vh;
    }
    #about {
        height: 100vh; 
        width: 100vw;
    }
    #categ{
        padding-top: 3vh;
        height: 100vh;
        width:auto;
    }
  }