:root{
    --section-width-wider: calc(100vw * 1750/1900);
    --section-width-wide: calc(100vw * 1600/1900);
    --section-width-boxed: calc(100vw * 1250/1900);
    --text-width: calc(100% - 40px);
    --text-scale: 1750 / 1900;
}

*, top-page{
    margin: 0;
    padding: 0;
    height: auto;
}

html{
    scroll-behavior: smooth;
}
body {  
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
  }
  
  .menu-container {
    position: fixed; /* Change to fixed position */
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    background: #f9f5c3;
    color: #000000;
    padding: 15px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
  }
  .menu{
    right: 0;
  }
  .menu-logo {
    line-height: 0;
    margin: 0 20px;
    width: 56%;
}

  .menu-logo p {
        font-size: 1.5rem;
        font-weight: bold;
        color: white;
        display: inline-block;
        background: #1d8c1d;
        padding: 18px;
        border-radius: 5px;
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5); /* Bottom box shadow */
    }

  
  .menu-container a {
    text-decoration: none;
    color: #f9f5c3;
    transition: color 0.3s ease;
  }
  
  .menu-container a:not(.menu-logo):hover {
    color: #7ed321;
    border-bottom: 2px solid #1d8c1d;
}
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 0% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(3px,-1px);
    background: #000000;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 0px;
    font-size: 15px;
  }

#main-content {
    display: flex; /* Use flexbox */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    height: 100vh;
    background-image: url("imgs/photo-1543353071-10c8ba85a904.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:bottom;
    background-attachment: fixed;
    
}
.intro{
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 50px 10px 50px 10px;
    width: 50%;
    height: auto;
    text-align: center;
    right: 0;
}
.intro p{
    font-weight: bolder;
    padding: 50px;
    font-size: 1.2rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.intro h2{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border-bottom: 4px solid #44891c;
}
.intro sup{
    font-size: 10px;
    color: black;
}
.intro button{
    margin-top: 30px;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    height: auto;
    padding: 18px;
    background: #44891c;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.intro button a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
}
.intro button:hover{
    opacity: 0.8;
}
#about{
    padding-top: 8%;
    height: 100vh;
    background-image: url("imgs/photo-1495195129352-aeb325a55b65.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    text-align: center;
}
.aboutus{
    display: flex;
    width: 60%;
    margin: auto;
}
.aboutus .content{
    padding-left: 20px;
}
.missionvision .content{
    text-align: left;
}
.abt-head{
    margin: auto;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#1d8c1d;
    border-bottom: 5px solid #888;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.aboutus img{
    width: 25%;
    height: auto;
    border-radius: 100px;
    display: flex;
}
.aboutus h2, 
.aboutus p{
    padding-top: 20px;
    margin-left: 20px;
}
.aboutus p{
    font-size: 21px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.aboutus h2{
    font-size: 32px;
    color: #1d8c1d;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.missionvision{
    display: flex;
    width: 65%;
    padding: 20px;
    margin: 50px auto auto auto;
    background: rgba( 255, 255, 255, 0.4 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.missionvision h2{
    border-bottom: 4px solid #888;
    display: inline-block;
    margin:auto auto 20px auto;
    font-size: 28px;
    color: #1d8c1d;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.missionvision p{
    width: 90%;
    font-size: 18px;
    font-weight: bolder;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.tm-btn{
    padding: 20px;
    margin: 20px auto 20px auto;
    border: none;
    color: white;
    background-color: #44891c;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

.footer{
    position: relative;
    height: 20vh;
    margin-top: 100px;
}

.footer #quote{
    position: absolute;
    margin:0;
    width: 100%; 
    font-size: 30px;
    font-style: italic;
    text-align: center; 
    font-weight: bold;
    justify-content: center;
    display: flex;
}
#categ {
    background-image: url("imgs/photo-1495195129352-aeb325a55b65.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    
}

.categories {
    width: 100%; 
    padding: 20px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

.cat {
    font-size: 50px;
    margin-bottom: 30px;
    color: #1d8c1d;
    text-transform:uppercase;
    padding: 10% 20px 10px 20px;
    border-bottom: 5px solid #474747;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    padding-top: 10px;
    justify-content: center; /* Center-align the grid items */
}

.categories {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#1d8c1d;
    text-transform: uppercase;
    display: inline;
}

.image-container {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px;
    margin-top: 15px;
}

.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit:fill; 
}
.ctg-button {
    display: inline-block; /* Display as inline block */
    background-color: #1d8c1d;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px; /* Adjust margin as needed */
    cursor: pointer;
}
.ctg-button:hover{
    opacity: 0.8;
}
.ctg-button a{
    text-decoration: none;
    color: white;
}


#contacts {
    background-image: url("imgs/andrej-lisakov-3A4XZUopCJA-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
    height: 100vh;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
}

.contact-form h3 {
    padding-top:20%;
    font-size: 30px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {  
    background-color: #0056b3;
}
.social-icons {
    padding: 50px;
    height: auto;
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 20px;
    font-size: 40px;
    color: #333;
    text-decoration: none;
}

.social-icons a:hover {
    color: #4267B2; /* Change color on hover for Facebook */
}

.social-icons .twitter:hover {
    color: #1DA1F2; /* Change color on hover for Twitter */
}

.social-icons .instagram:hover {
    color: #C13584; /* Change color on hover for Instagram */
}
.team {
    background-image: url("imgs/photo-1505935428862-770b6f24f629.avif");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center; /* Center the team section */
    padding-bottom: 50px;
}
.team h3{
    padding-top: 50px;
    font-size: 40px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#474747;
}

.team-members {
    display: flex;
    justify-content: center; 
    gap: 100px; 
    margin-top: 50px;
}

.team-member {
    text-align: center; 
    max-width: 200px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
}

.team-member img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    border-radius: 50%; 
}

.team-member h4 {
    margin-top: 10px;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.team-member p {
    margin-top: 5px;
    font-size: 17px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.category {
    padding: 20px;
    margin-bottom: 40px;
  }

  .category h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  @media (min-width: 300px) and (max-width: 767px) { 
    .menu-container {
      flex-direction: column;
      align-items: flex-end;
    }
    
    .menu-logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  
    .menu-logo img {
      max-height: 30px;
    }
  
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -400px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 50px;
      background: #FFF67E;
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .menu-container a{
        color: black;
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-100%);
    }
    .intro{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .intro h2{
        font-size: 35px;
        margin: auto;
    }
    .intro p{
        width: 90%;
        padding: 30px;
    }
    .missionvision{
        width: 90%;
    }
    .cat{
        padding-top: 10%;
    }
    #about {
        padding-top: 20%; /* Adjust padding as needed */
        height: 100vh; /* Set height to auto */
    }
    #categ{
        padding-top: 10%;
        height: auto;
        width: 100vw;
    }
    .aboutus{
        width: 90%;
        margin-top: 15px;
    }
    .aboutus h2,
    .aboutus p{
        padding-top: 10px;
        margin-left: 10px;
    }
    .aboutus p{
        font-size: 15px;
    }
    .missionvision p{
        font-size: 15px;
    }
    .footer{
        margin-top: 100px;
        padding: 0;
    }
    .footer #quote{
        font-size: 20px;
    }
    
    .team-member{
        max-width: 150px;
    }
    .category-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto; /* Reset grid layout to auto rows */
        gap: 10px;
        padding-top: 10px;
        justify-content: center; /* Center-align the grid items */
    }

    .categories {
        width:100% ; 
    }
}
@media only screen and (min-width: 768px) and (max-width: 940px) { 
    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
    .intro{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .intro h2{
        font-size: 35px;
        margin: auto;
    }
    .intro p{
        width: 90%;
        padding: 30px;
    }
    .missionvision{
        width: 90%;
    }
    #about {
        padding-top: 15%; /* Adjust padding as needed */
        height: 100vh; /* Set height to auto */
    }
    #categ{
        padding-top: 5%;
        height: auto;
        width: 100vw;
    }
    .aboutus{
        width: 90%;
        margin-top: 15px;
    }
    .aboutus h2,
    .aboutus p{
        padding-top: 10px;
        margin-left: 10px;
    }
    .aboutus p{
        font-size: 15px;
    }
    .missionvision p{
        font-size: 15px;
    }
    .footer{
        margin-top: 100px;
        padding: 0;
    }
    .footer #quote{
        font-size: 20px;
    }
    
    .team-member{
        max-width: 150px;
    }
    .category-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto auto; /* Reset grid layout to auto rows */
        gap: 10px;
        padding-top: 10px;
        justify-content: center; /* Center-align the grid items */
    }

    .categories {
        width:100% ; 
    }

  }
  @media only screen and (min-width: 942px) {
    body {
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
  }