@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.holder {
  padding: 20px;
  background-color: transparent;
}

.section__container {
  max-width: 1200px;
  margin: 5rem auto;

}

.section__subheader {
  font-size: 25px;
  margin-bottom: 20px;
  color: #1d8c1d;
  text-align: center;
}

.section__header {
  font-size: 43px;
  color: #333;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
}

.category__list {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 20px auto;
  border: 2px solid #6dbb63; 
  border-radius: 20px; 
  background-color: #ffffff; 
}
.category__list-holder{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}
.category__list li {
  margin: 0 20px;
}
.category__list li:nth-child(1){
  margin-right: 40px;
}

.category__list li a {
  text-decoration: none;
  color: #202020; 
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  font-size: 19px;
}

.category__list li a:hover {
  color: #6dbb63; 

}

.category__list li a .icon {
  font-size: 24px;
  margin-bottom: 5px;
}

.category__list li a .text {
  font-size: 14px;
}

.li1 { color: #6dbb63; }
.li2 { color: #ffb700; } 
.li3 { color: #3498db; } 


.recipe-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 100px;
  border: 5px solid #1d8c1d;
  border-radius: 50px;
}

.recipe-card {
  width: 350px;
  margin: 20px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
.recipe-card h3{
  color: #1d8c1d;
  font-size: 1.4rem;
  margin-bottom: 30px ;
}
.recipe-card p{
  background: #1d8c1d;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  font-size: 16.8px;
}

.recipe-card img {
  width: 70%;
  object-fit: cover;
  border-radius: 100%;
  aspect-ratio: 1;
  margin-bottom: 24px;
}

.description {
  margin: 10px 0;
  color: #666;
  text-align: center;
}

.recipe-details {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-details h3{
  text-align: center; 
  font-size: 25px;
  margin: 2rem auto;
  margin-top: 0;
  color: #1d8c1d;
}
.recipe-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  max-width: 650px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
  position: relative;
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-width:none;
}

.recipe-content p{
  font-size: 17.5px;
}

.recipe-content img {
  width: 45%;
  height: auto;
  border-radius: 100%;
  aspect-ratio: 1;
  display: block;
  margin: 0 auto; 
  margin-bottom: 2rem;
}
.recipe-content li{
  font-size: 16px;
  line-height: 25px;
}
.recipe-content h4{
  font-size: 22px;
  line-height: 50px;
}


.close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: sticky;
  top: 10px;
  left: 100%;
  color: #000000;
  z-index: 1;
}

.prep-time ,.cal-count {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
  background-color: #1d8c1d;
  position: relative;
  gap: 5px;
  text-align: center;
}
.prep-cal{
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rep-hold{
  background-color: #1d8c1d;
  width: 90%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem auto;
  padding: 30px;
  border-radius: 30px;
}

.prep-time span {
  margin-left: 5px;
}
.recipe-content h4{
  font-size: 24px;
}

.recipe-content h4:nth-of-type(2) {
  margin-top: 20px;
}

.recipe-content ol {
  padding-left: 20px;
}

@media (max-width: 649px) {
  .recipe-card {
    width: 17.8rem;
  }
  .recipe-grid {
    border: none;
  }
  .cal-count,
  .prep-time {
    text-align: center;
    font-size: 14px;
  }
  .category__list li a {
    font-size: 16px;
  }
    .prep-cal{
      text-align: center;
      margin: auto;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .prep-time, .cal-count{
      width: 100%;
      margin-left: none;
    }
}


@media  (min-width: 650px) and (max-width: 699px) {
  .recipe-card{
    width: 16rem;
  }
  .cal-count , .prep-time{
    margin: 10px 10px;
    font-size: 14px;
  }
  .prep-cal{
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .prep-time, .cal-count{
    width: 100%;
  }
}
@media (min-width: 700px) and (max-width: 829px) {
  .recipe-card{
    width: 17.8rem;
  }
  .cal-count , .prep-time{
    margin: 10px 10px;
    font-size: 16px;
  }
  .prep-cal{
    text-align: center;
    margin: auto;
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .prep-time, .cal-count{
    width: 100%;
  }

}
