:root{
    --section-width-wider: calc(100vw * 1750/1900);
    --section-width-wide: calc(100vw * 1600/1900);
    --section-width-boxed: calc(100vw * 1250/1900);
    --text-width: calc(100% - 40px);
    --text-scale: 1750 / 1900;
}
@keyframes bounce {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-5px);
    }
}
.menu-logo img:hover{
    animation: bounce 300ms alternate infinite;
}
@keyframes grow-shrink {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }    
}
.nav-btn #abt:hover{
    animation: grow-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#ctc:hover{
    animation: grow-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#ctg:hover{
    animation: grow-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#abt:hover{
    animation: grow-shrink 2000ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#abt a{
  border: none;
}
#desktop-ctg{
    display: block;
}
#mobile-ctg{
    display: none;
}


*, top-page{
    margin: 0;
    padding: 0;
    height: auto;
}
body::-webkit-scrollbar {
    width: 8px;
  }
body::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
body::-webkit-scrollbar-thumb {
    background: #8db255; 
    border-radius: 10px; 
  }
body::-webkit-scrollbar-thumb:hover {
    background: #6b9030; 
  }

  html{
    scroll-behavior: smooth;
  }
  html, body {
    overflow-x: hidden; 
    overflow-y: auto;   
    padding: 0;
    margin: 0;
}

#lawas{
    background-image: url('../imgs/wave-haikei (3).svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: Arial, Helvetica, sans-serif;

}


.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: all 1.5s ease;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

.disappear {
    position: relative;
    transform: translateY(0px);
    opacity: 1;
    transition: all 1.5s ease;
}

.disappear.gone {
    transform: translateY(-80px);
    opacity: 0;
}



  
.menu-container {
    display: flex; /* Initially set to flex */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #000000;
    background-color: whitesmoke;
    padding: 15px;
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.menu-container.visible {
    opacity: 1;
    visibility: visible;
  }



  .menu-logo {
    line-height: 0;
    margin: 0;
}

  .menu-logo img {
        font-weight: bold;
        color: white;
        display: inline-block;
        box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.5);
        border: none;
        width: 50px; 
        border-radius: 50%;
        margin-left: 20px;
    }

  
  .menu-container a {
    text-decoration: none;
    color: #f9f5c3;
    transition: color 0.3s ease;
    
  }
  
  .menu-container a:not(.menu-logo):hover {
    color: #7ed321;
    border-bottom: 2px solid #1d8c1d;
}
  
  .menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0; 
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  
  /* Burger menu */
  .menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #000000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .menu-container span:first-child {
    transform-origin: 100% 0%;
  }
  
  .menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
  }
  
  .menu-container input:checked ~ span {
    opacity: 1;
    transform: rotate(0deg) translate(3px, 1px);
    background: #000000;
  }
  
  .menu-container input:checked ~ span:nth-child(4) {
    opacity: 1;
    transform: rotate(0deg) translate(-10px,-5px);
  }
  
  .menu-container input:checked ~ span:nth-child(3) {
    transform: rotate(0deg) translate(-5px,11px);
  }
  
  .menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    padding: 10px 0px;
    font-size: 15px;
    margin: auto
  }


  

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: radial-gradient(circle at -1% 57.5%, rgb(197, 219, 206) 0%, rgb(238, 255, 245) 90%);
  background-image: url('../imgs/blob-scene-haikei (2).svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.intro-grid {
  display: grid;
  grid-template-columns: 1fr 40vw;
  max-width: 100vw;
  width: 100%;
  height: 100vh; /* Make the grid full height */

}

.intro-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(0, 0, 0);

}

.intro-text h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: bolder;
}

.intro-text p {
  font-size: 1.3rem;
  line-height: 1.5;
}

.intro-image {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Make the image container full height */
  z-index: 999;
  margin-right:80px;
}

.intro-image img {
  width:100%;
  border-radius: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; /* Adjust this to focus on the plate */
  transition: 0.8s ease;
  z-index: 999;
  transform: scale(1);
}



#abouts {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: auto;
    width: auto;
    border-top-right-radius: 500px;
    
  }
  .hug{
    height: auto;
    display: flex;
    flex-direction: column;
  }

  .abt-head {
    border-bottom: 2px solid #44891c;
    border-top: 2px solid #44891c;
    display: inline-block;
    margin-top: 7rem;
    margin: auto;
    padding: 0 auto;
    width: 80%;
    
    
  }
  
  .abt-head h1 {
    color: rgb(28, 28, 28);
    font-weight: bolder;
    font-size: 40px;
    padding-top: 1.3rem;
    padding-bottom: 20px;
    display: inline-flex;
  }
  
  .abt-welcome, .abt-mission {
    margin:3.4rem auto;
    text-align: start;
    width: 90%;
    padding: 20px;
    height: auto;
    background: rgba( 68, 137, 28, 0.80 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .abt-welcome{
    margin-bottom: 0rem;
  }
  
  .abt-welcome h2, .abt-mission h2 {
    font-size: 30px;
    color: #ffffff;
  }
  .abt-mission h2{
    text-align: center;
  }
  
  .abt-welcome p, .abt-mission p {
    margin-top: 2rem;
    font-size: 18px;
    font-weight: lighter;
    color: whitesmoke;
  }
  
  .img-holder {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .img-holder img {
    max-width: 100%;
    height: auto;
    width: 65%;
    border-radius: 53% 47% 100% 0% / 64% 68% 32% 36%  ;
    transition: 1s ease;
    border: 2px solid rgb(50, 157, 50);
  }
  .img-holder img:hover{
    transform: scale(1.05);
  }
  .contact-btn a{
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 50px;
    font-weight: bolder;
    text-align: center;
    margin: auto;
    font-size: 18px;
}
#abt a{
    padding: 15px;
    border-radius: 30px;
    background-color: #1d8c1d;
    color: white;
}
.contact-btn{
    flex-direction: row;
    text-decoration: none;
    border: none;
    margin: 50px 10px;
    border-radius: 50px;
    text-align: center;
    background-color: transparent;
}


  .footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;

  }
  
  #quote {
    text-align: center;
    font-family: Arial;
    font-size: 1.2rem;
    font-style: italic;
    color: rgb(73, 73, 73);
  }
  
#categ {
    height: 100vh;
    width: 100vw;
    margin: auto;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    
}

.categories {
    width: 290px; 
    padding: 20px; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    text-align: center; 
}

.cat {
  border-left: 2px solid #44891c;
  border-right: 2px solid #44891c;
  border-bottom: 2px solid #44891c;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  display: inline-block;
  margin-top: 6.8rem;
  margin-bottom: 5rem;
  padding: 1.3rem 1.5rem 0rem 1.5rem;
  width: 100%;
}

.cat h1 {
  color: rgb(37, 37, 37);
  font-weight: bolder;
  font-size: 45px;
  padding-bottom: 20px;
  display: inline-flex;
}
.ctg-container-holder{
  padding: 30px 20px 30px 20px;
  background: rgba( 29, 140, 29, 0.80 );
  backdrop-filter: blur( 5px );
  -webkit-backdrop-filter: blur( 5px );
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}
.category-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    height: auto;
    gap: 20px;
    padding-top: 10px;
    justify-content: space-evenly; 
}
.categories {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    aspect-ratio: 1;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color:#1d8c1d;
    text-transform: uppercase;
    display: inline;
}

.image-container {
    width: 100%; 
    height: 200px; 
    overflow: hidden; 
    border: 2px solid #ddd; 
    border-radius: 10px; 
    margin-bottom: 20px;
    margin-top: 15px;
}


.image-container img {
    width: 100%; 
    height: 100%; 
    object-fit:fill; 
}
.ctg-button {
    display: inline-block; 
    background-color: #1d8c1d;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px 20px;
    margin-left: 10px; 
    cursor: pointer;
    font-weight: bolder;
}
.ctg-button:hover{
    opacity: 0.8;
}
.ctg-button a{
    text-decoration: none;
    color: white;
}
.intro #abt:active{
    transform: translateY(5px);
    box-shadow: #1d8c1d 0px 0px 0px 0px;
}


#contacts {
    background-color: #1d8c1d;
    color: #fff;
    padding: 20px 0;
    height: auto;
}


.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.contact-us, .social-media{
    flex: 1;
}

.contact-us h3, .social-media h3 {
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 25px;
}

.contact-us p {
    margin: 5px 0;
    color: #f8f8f8;
    font-weight: bolder;
}

.social-media ul {
    padding: 0;
    list-style: none;
    display: inline-flex;
    margin: auto;
}

.social-media li {
    margin-right: 10px;
    color: #000;
    font-weight: bolder;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    font-size: 30px;
}

.social-media a:hover {
    opacity: 0.8;
}
.team {
    text-align: center; 
    padding-bottom: 50px;
    height: auto;
}
.tm {
  border-left: 5px solid #44891c;
  border-right: 5px solid #44891c;
  display: inline-block;
  margin-top: 6.8rem;
  padding: 1.3rem 1rem 0rem 1rem;
  width: 40%;
  
  
}

.tm h3 {
  color: rgb(85, 85, 85);
  font-weight: bolder;
  font-size: 36.5px;
  padding-bottom: 20px;
  display: inline-flex;
}


.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 100px; 
    margin: 3rem auto auto auto;
    width: 80%;
}

.team-member {
    text-align: center; 
    max-width: 280px;
    background: rgba( 255, 255, 255, 0.80 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 30px;
    width: 100%;
    margin: 2rem 10px 2rem 10px;
}

.team-member img {
    width: 100%; 
    height: auto; 
    max-height: 200px; 
    border-radius: 50%; 
}

.team-member h4 {
    margin-top: 10px;
    padding-bottom: 0.7rem;
    border-bottom: 2px solid black;
    font-size: 19px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.team-member p {
    margin-top: 5px;
    font-size: 16px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.team-member p:nth-of-type(1){
  padding-top: 0.7rem;
}
.category {
    padding: 20px;
    margin-bottom: 40px;
  }

  .category h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  @media (min-width: 300px) and (max-width: 379px) {
    body{
        padding: 0;
        margin: 0;
    } 
    #lawas{
      background: url('../imgs/blob-scene-haikei (2).svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }

    .menu-container {
      flex-direction: column;
      align-items: flex-end;
      width: 100%;
    }
    
    .menu-logo {
      position: absolute;
      left: -100px;
      top: 50%;
      width: 50%;
      transform: translateY(-50%);
      display: block;
    }
  
    .menu-logo img {
      max-height: 100px;
      margin-left: 6rem;
    }
  
    .menu {
      position: absolute;
      box-sizing: border-box;
      width: 300px;
      right: -380px;
      top: 0;
      margin: -20px;
      padding: 75px 50px 20px;
      background: rgba( 15, 82, 15, 0.45 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      backdrop-filter: blur( 4px );
      -webkit-backdrop-filter: blur( 4px );
      border-radius: 10px;
      border: 1px solid rgba( 255, 255, 255, 0.18 );
      -webkit-font-smoothing: antialiased;
      transform-origin: 0% 0%;
      transform: translateX(0%);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    .menu li:hover{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-color: #44891c;
        border-radius: 3px;
    }
    
    .menu li{
        margin-right: 7.2rem;
    }
    
    
    .menu-container a{
        color: rgb(255, 255, 255);
    }
  
    .menu-container input:checked ~ .menu {
      transform: translateX(-90%);
    }
    .intro-image{
        display: none;
    }
    .intro-grid{
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .img-holder{
        display: none;
    }
    #categ{
        height: auto;
        width: 100vw;
        border-radius: 0;
    }
    .cat {
      display: inline-block;
      border-radius: 0px;
      margin: auto;
      padding-top: 6rem;
      max-width: 1200px;
      background-color: #44891c;
    }
  
    .cat h1 {
      font-size: 30.8px;
      color: rgb(255, 255, 255);
    }
    .ctg-container-holder{
      background: none;
      backdrop-filter: none;
    }
    #abouts {
        grid-template-columns: 1fr;
        height: auto;
        border-radius: 0;
      }

      .abt-holder{
        height: auto;
      }

    
      .abt-head {
        display: inline-block;
        border-radius: 0px;
        margin: 0;
        padding-top: 6rem;
        width: 100%;
        background-color: #44891c;
      }
    
      .abt-head h1 {
        font-size: 2rem;
        color: rgb(255, 255, 255);
      }
    
      .abt-welcome h2, .abt-mission h2 {
        font-size: 1.7rem;
        padding-top: 0rem;
        text-align: center;
      }
    
      .abt-welcome p, .abt-mission p {
        font-size: 1rem;
        padding-bottom: 1rem;
        text-align: center;
      }
      .abt-mission {
        padding-bottom: 3.5rem;
      }
    .team{
        border-radius: 0;
        margin: auto;
    } 
    .tm {
      display: inline-block;
      border-radius: 0px;
      margin: auto;
      padding-top: 5rem;
      width: 100%;
      background-color: #44891c;
    }
  
    .tm h3 {
      font-size: 2rem;
      color: rgb(255, 255, 255);
    }
    .team-members{
        width: auto;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .team-member{
        width: auto;
        height: auto;    
    }
    .team-member p{
      font-size: 13.5px;
      
    }
    .team-member h4{
      font-size: 17.5px;
      padding-bottom: 4px;
    }
    .category-container {
            display: flex; 
            flex-wrap: wrap; 
            justify-content: center; 
            gap: 10px;
            margin: 2rem auto auto auto; 
            align-items: center;
            text-align: center;
    }

    .categories {
        width:290px;
    }
    #contacts{
        padding-top: 30px;
        text-align: center;
    }
    .contact-btn{
        margin: 50px auto;
        width: 100%;
    }
    .contact-btn a{
      font-size: 15px;
  }
    #abt a{
      padding: 15px;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-us, .social-media, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }

    .social-media ul {
        justify-content: center;
        margin: auto;
    }

    .social-media li {
        margin-right: 10px;
    }
    .nav-btn{
        display: flex;
        flex-direction: column;
    }
    .intro #mobile-ctg{
        margin-right:0px ;
        padding: 12px;
    }
    .intro #abt{
        margin-left: 0px;
        padding: 15px;
        background-color:#1d8c1d;
    }
    .intro #abt a{
        color: white;
    }
    .intro-text h1{
      font-size: 2.5rem;
    }
    .intro-text p{
      font-size: 1rem;
    }
    
}
@media (min-width: 380px) and (max-width: 767px) {
  body {
    padding: 0;
    margin: 0;
  }
  #lawas{
    background: url('../imgs/blob-scene-haikei (2).svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  .main-content{
    
    background-position: 60%;
  }


  .menu-container {
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
  }

  .menu-logo {
    position: absolute;
    left: -100px;
    margin: auto;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);
    display: block;
  }

  .menu-logo img {
    max-height: 100px;
    margin-left: 5rem;
  }

  .menu {
    position: absolute;
    box-sizing: border-box;
    width: 300px;
    right: -380px;
    top: 0;
    margin: -20px;
    padding: 75px 50px 20px;
    background: rgba(15, 82, 15, 0.45);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translateX(0%);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
  }

  .menu li:hover {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-color: #44891c;
    border-radius: 3px;
  }

  .menu li {
    margin-right: 7.2rem;
  }

  .menu-container a {
    color: rgb(255, 255, 255);
  }

  .menu-container input:checked ~ .menu {
    transform: translateX(-90%);
  }

  .intro-image {
    display: none;
  }

  .intro-grid {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .img-holder {
    display: none;
  }

  #categ {
    height: auto;
    width: 100vw;
    border-radius: 0;
  }
  .ctg-container-holder{
    background: none;
    backdrop-filter: none;
  }

  .cat {
    display: inline-block;
    border-radius: 0px;
    margin: auto;
    padding-top: 8rem;
    width: 1200px;
    background-color: #44891c;
  }

  .cat h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }

  #abouts {
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 0;
  }


  .abt-head {
    display: inline-block;
    border-radius: 0px;
    margin: 0;
    padding-top: 7.5rem;
    width: 100%;
    background-color: #44891c;
    text-align: center;
  }

  .abt-head h1 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }

  .abt-welcome {
    margin: auto;
    margin-top: 3rem;
  }
  .abt-mission{
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .abt-welcome h2, .abt-mission h2 {
    font-size: 1.8rem;
    padding-top: 0rem;
    text-align: center;
  }

  .abt-welcome p, .abt-mission p {
    font-size: 1.1rem;
    padding-bottom: 1rem;
    text-align: center;
    width: 80%;
    margin: 1.2rem auto auto auto;
  }

  .team {
    border-radius: 0;
    margin: auto;
  }

  .tm {
    display: inline-block;
    border-radius: 0px;
    margin: auto;
    padding-top: 5rem;
    width: 100%;
    background-color: #44891c;
  }

  .tm h3 {
    font-size: 2rem;
    color: rgb(255, 255, 255);
  }

  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 2rem auto auto auto;
    align-items: center;
    text-align: center;
  }
  

  .team-member {
    width: auto;
    height: auto;
  }
  .team-member p{
    font-size: 0.9rem;
  }
  .team-member h4{
    font-size: 1rem;
  }

  .category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 2rem auto auto auto;
    align-items: center;
    text-align: center;
  }

  .categories {
    width: 290px;
  }

  #contacts {
    padding-top: 30px;
    text-align: center;
  }

  .contact-btn {
    margin: 50px auto;
    width: 100%;
  }

  .contact-btn a {
    font-size: 15px;
  }

  #abt a {
    padding: 15px;
    border: none;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .contact-us, .social-media, .contact-form {
    width: 100%;
    margin-bottom: 20px;
  }

  .social-media ul {
    justify-content: center;
    margin: auto;
  }

  .social-media li {
    margin-right: 10px;
  }

  .nav-btn {
    display: flex;
    flex-direction: column;
  }

  .intro #mobile-ctg {
    margin-right: 0px;
    padding: 12px;
  }

  .intro #abt {
    margin-left: 0px;
    padding: 15px;
    background-color: #1d8c1d;
  }

  .intro #abt a {
    color: white;
  }

  .intro-text h1 {
    font-size: 2.5rem;
  }

  .intro-text p {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) { 
    body {
        overflow-x: hidden; 
        background:none;
    }
    #lawas{
      background: url('../imgs/blob-scene-haikei (2).svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
    }
    .menu-container {
      width: 100%;
    }
    .menu-logo {
        position:sticky;
        left: 0;
        top: 30%;
        width: 35%;
      }
      .menu-logo img{
        margin-left: 8rem;
      }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
    .intro-image{
        display: none;
    }
    .intro-grid{
        display: flex;
        justify-content: center;
        align-items: center;   
    }
    .img-holder{
        display: none;
    }
    
    #categ{
        height: auto;
        width: 100dvw;
        border-radius: 0;
    }
    .cat {
      display: inline-block;
      border-radius: 1000px;
      margin: auto;
      margin-top: 7rem;
      width: 450px;
      background-color: #44891c;
    }
    .cat h1 {
      font-size: 2.3rem;
      color: rgb(255, 255, 255);
      transition: 1 ease;
    }
    #abouts {
        grid-template-columns: 1fr;
        border-radius: 0;
        height: auto;
      }
      
      .abt-head {
        display: inline-block;
        border-radius: 1000px;
        margin: auto;
        margin-top: 7rem;
        width: 48%;
        background-color: #44891c;
      }
      .abt-head h1 {
        font-size: 2.3rem;
        padding-top: 1.3rem;
        color: rgb(255, 255, 255);
        transition: 1 ease;
      }
    
    .abt-welcome h2, .abt-mission h2 {
        font-size: 2.3rem;
        text-align: center;
        line-height: 5rem;
      }
    
    .abt-welcome p, .abt-mission p {
        font-size: 1.35rem;
        margin: auto;
        width: 80%;
      }
    .team{
        border-radius: 0;
      }
      .tm {
        display: inline-block;
        border-radius: 1000px;
        margin: auto;
        margin-top: 7rem;
        width: 48%;
        background-color: #44891c;
      }
      .tm h3 {
        font-size: 2rem;
        color: rgb(255, 255, 255);
        transition: 1 ease;
      }
    .team-member{
        width: 100%;
    }
    .team-member p{
      font-size: 1rem;
    }
    .team-member h4{
      font-size: 1rem;
    }
    .category-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
      margin: 2rem auto auto auto;
      align-items: center;
      text-align: center;
    }
    .ctg-container-holder{
      backdrop-filter: none;
      background: none;
    }
    .categories {
        width:290px ; 
    }
    #contacts{
        padding-top: 20px;
        text-align: center;
    }
    .contact-form{
        margin-top: 50px;
    }
    .contact-form form{
        width: 60%;
        margin:auto;
    }
    .contact-form input,button,textarea{
        padding: 10px;
        border: 1px solid black;
    }
    .contact-form button{
        padding: 10px;
        margin: auto;
        width: 105%;
    }
    .contact-form textarea{
        border: 1px solid black;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-us, .social-media, .contact-form {
        width: 100%;
        margin-bottom: 20px;
    }
    .social-media ul {
        justify-content: center;
    }

    .social-media li {
        margin-right: 10px;
    }

  }
  @media only screen and (min-width: 1024px) {
    body {
        overflow-x: hidden; 
    }
    .menu-container {
      width: 100%;
    }
  
    .menu-container a {
      color: #000000;
    }
  
    .menu-container input {
      display: none;
    }
  
    /* Burger menu */
    .menu-container span {
      display: none;
    }
  
    .menu {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  
    .menu ul {
      display: flex;
      padding: 0;
    }
  
    .menu li {
      padding: 0 20px;
    }
    
    .menu-logo{
        width: 30vh;
    }
    #about {
        height: 100vh; 
        width: 100vw;
    }
    .abt-holder{
        height: auto  ;
    }
    .abt-head{
      margin-top: 5rem;
    }
  }
  