/* Style for table */
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background: linear-gradient(177.9deg, rgb(58, 62, 88) 3.6%, rgb(119, 127, 148) 105.8%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; /* Adjust margin as needed */
}

.update-button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.update-button:hover {
    background-color: #45a049;
}
.header{
    display: flex;
    flex-direction: row;
    margin: auto;
}
.header a{
    margin-left: 10px;
}
.header button{
    border-radius: 100px;
}
.header h2{
    position: relative;
    right: 8%;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 90%;
}

.button:hover {
    background-color: #005f79;
}

.container {
    background: rgba( 131, 125, 125, 0.75 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    max-width: 600px; /* Limit container width */
    margin: 50px auto; /* Center container horizontally */
}

.container h2 {
    margin-bottom: 20px; /* Add space below the heading */
}
.actions a:nth-child(1){
    color: blue;
}
.actions a:nth-child(2){
    color: red;
}
.actions a:hover{
    transition: background-color 0.3s;
}

a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
td{
    color: white;
}

th {
    background-color: #f2f2f2;
}

/* Style for form */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
}

input[type="text"],
input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid black;
    font-weight: bolder;
}

textarea {
    height: 100px;
    border: 1px solid black;
    font-weight: bolder;

}

button[type="submit"] {
    background-color: #1fba00;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-weight: bolder;
}
label{
    color: white;
    font-weight: bolder;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Header styles */
h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    font-weight: bolder;
}

h2 {
    font-size: 20px;
    margin: 21px auto;
    color: white;
    font-weight: bolder;
}

/* Button styles */
button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f79;
}
